<div id="content" class="site-content">
    <div class="col-full">
        <div class="row">
            <nav class="woocommerce-breadcrumb">
                <a href="home-v1.html">Home</a>
                <span class="delimiter">
                    <i class="tm tm-breadcrumbs-arrow-right"></i>
                </span>
                Contact Us
            </nav>
            <!-- .woocommerce-breadcrumb -->
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="type-page hentry">
                        <div class="entry-content">
                            <div class="stretch-full-width-map" *ngIf="nodisplay">
                                <iframe height="514" allowfullscreen="" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11097.890558988816!2d13.618567!3d45.94183900000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477b00c5f63a1f49%3A0xf17f64a4c182a7d4!2sCorso+Italia%2C+54%2C+34170+Gorizia+GO!5e0!3m2!1sen!2sit!4v1532977048148"></iframe>
                            </div>
                            <!-- .stretch-full-width-map -->
                            <div class="row contact-info">
                                <div class="col-md-9 left-col">
                                    <div class="text-block">
                                        <h2 class="contact-page-title">Leave us a Message</h2>
                                        <p>You can contact us by filling in the following form.</p>
                                    </div>
                                    <div class="contact-form">
                                        <div role="form" class="wpcf7" id="wpcf7-f425-o1" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response"></div>
                                            <form class="wpcf7-form" novalidate="novalidate">
                                                <div style="display: none;">
                                                    <input type="hidden" name="_wpcf7" value="425" />
                                                    <input type="hidden" name="_wpcf7_version" value="4.5.1" />
                                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f425-o1" />
                                                    <input type="hidden" name="_wpnonce" value="e6363d91dd" />
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-xs-12 col-md-6">
                                                        <label>Contact
                                                            <abbr title="required" class="required">*</abbr>
                                                        </label>
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap first-name">
                                                            <input type="text" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" size="40" value="" name="first-name">
                                                        </span>
                                                    </div>
                                                    <!-- .col -->
                                                    <div class="col-xs-12 col-md-6">
                                                        <label>Company Name
                                                            <abbr title="required" class="required">*</abbr>
                                                        </label>
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap first-name">
                                                            <input type="text" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" size="40" value="" name="first-name">
                                                        </span>
                                                    </div>
                                                    <!-- .col -->
                                                    <div class="col-xs-12 col-md-6">
                                                        <label>Address
                                                        </label>
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap first-name">
                                                            <input type="text" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" size="40" value="" name="first-name">
                                                        </span>
                                                    </div>
                                                    <!-- .col -->
                                                    <div class="col-xs-12 col-md-6">
                                                        <label>City
                                                            
                                                        </label>
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap first-name">
                                                            <input type="text" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" size="40" value="" name="first-name">
                                                        </span>
                                                    </div>
                                                    <!-- .col -->
                                                    <div class="col-xs-12 col-md-6">
                                                        <label>Country
                                                            
                                                        </label>
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap first-name">
                                                            <input type="text" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" size="40" value="" name="first-name">
                                                        </span>
                                                    </div>
                                                    <!-- .col -->
                                                    <!-- .col -->
                                                    <div class="col-xs-12 col-md-6">
                                                        <label>Fax
                                                            
                                                        </label>
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap first-name">
                                                            <input type="text" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" size="40" value="" name="first-name">
                                                        </span>
                                                    </div>
                                                    <!-- .col -->
                                                    <!-- .col -->
                                                    <div class="col-xs-12 col-md-6">
                                                        <label>Website
                                                            
                                                        </label>
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap first-name">
                                                            <input type="text" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" size="40" value="" name="first-name">
                                                        </span>
                                                    </div>
                                                    <!-- .col -->
                                                    <!-- .col -->
                                                    <div class="col-xs-12 col-md-6">
                                                        <label>Email
                                                            <abbr title="required" class="required">*</abbr>
                                                        </label>
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap first-name">
                                                            <input type="text" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" size="40" value="" name="first-name">
                                                        </span>
                                                    </div>
                                                    <!-- .col -->
                                                    <div class="col-xs-12 col-md-6">
                                                        <label>Phone
                                                            <abbr title="required" class="required">*</abbr>
                                                        </label>
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap first-name">
                                                            <input type="text" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text" size="40" value="" name="first-name">
                                                        </span>
                                                    </div>
                                                    <!-- .col -->

                                                </div>
                                                <!-- .form-group -->
                                                <div class="form-group">
                                                    <label>Your Message</label>
                                                    <br>
                                                    <span class="wpcf7-form-control-wrap your-message">
                                                        <textarea aria-invalid="false" class="wpcf7-form-control wpcf7-textarea" rows="10" cols="40" name="your-message"></textarea>
                                                    </span>
                                                </div>
                                                <!-- .form-group-->
                                                <div class="form-group clearfix">
                                                    <p>
                                                        <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit" />
                                                    </p>
                                                </div>
                                                <!-- .form-group-->
                                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                                            </form>
                                            <!-- .wpcf7-form -->
                                        </div>
                                        <!-- .wpcf7 -->
                                    </div>
                                    <!-- .contact-form7 -->
                                </div>
                                <!-- .col -->
                                <div class="col-md-3 store-info">
                                    <div class="text-block">
                                        <h2 class="contact-page-title">Address Details</h2>
                                        <address>
                                        	Comeltra Srls - Corso Italia 25 - 34170 Gorizia (Italy)<br>
											Phone:+39.0481.32530<br>
											Fax:+39.0481.545347<br>
											e-Mail:info@agrelma.com<br>
											Certified mail:comeltra@pec.it<br>
											VAT and Tax Code:01156700310<br>
                                        </address>
                                        <h3>Hours of Operation</h3>
                                        <ul class="list-unstyled operation-hours inner-right-md">
                                            <li class="clearfix">
                                                <span class="day">Monday:</span>
                                                <span class="pull-right flip hours">12-6 PM</span>
                                            </li>
                                            <li class="clearfix">
                                                <span class="day">Tuesday:</span>
                                                <span class="pull-right flip hours">12-6 PM</span>
                                            </li>
                                            <li class="clearfix">
                                                <span class="day">Wednesday:</span>
                                                <span class="pull-right flip hours">12-6 PM</span>
                                            </li>
                                            <li class="clearfix">
                                                <span class="day">Thursday:</span>
                                                <span class="pull-right flip hours">12-6 PM</span>
                                            </li>
                                            <li class="clearfix">
                                                <span class="day">Friday:</span>
                                                <span class="pull-right flip hours">12-6 PM</span>
                                            </li>
                                            <li class="clearfix">
                                                <span class="day">Saturday:</span>
                                                <span class="pull-right flip hours">12-6 PM</span>
                                            </li>
                                            <li class="clearfix">
                                                <span class="day">Sunday</span>
                                                <span class="pull-right flip hours">Closed</span>
                                            </li>
                                        </ul>
                                        <h3>Careers</h3>
                                        <p class="inner-right-md">If you’re interested in employment opportunities at Techmarket, please email us: <a href="mailto:contact@agrelma.com">contact@agrelma.com</a></p>
                                    </div>
                                    <!-- .text-block -->
                                </div>
                                <!-- .col -->
                            </div>
                            <!-- .contact-info -->
                        </div>
                        <!-- .entry-content -->
                    </div>
                    <!-- .hentry -->
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- .row -->
    </div>
    <!-- .col-full -->
</div>