<div id="content" class="site-content">
    <div class="col-full">
        <div class="row">
            <nav class="woocommerce-breadcrumb">
                <a routerLink="/">Home</a>
                <span class="delimiter">
                    <i class="tm tm-breadcrumbs-arrow-right"></i>
                </span>
                Who We Are
            </nav>
            <!-- .woocommerce-breadcrumb -->
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="type-page hentry">
                        <header class="entry-header">
                            <div class="page-header-caption">
                                <h1 class="entry-title">About Us</h1>
                                <p class="entry-subtitle">AGRELMA, online network approved by the "European Commission DGXIII - TEN TELECOM" for trading contacts and International Exhibition in the Food and Wine sector opened to all operators in the world.</p>
                            </div>
                        </header>
                        <div class="entry-content">
                            <section class="section terms-conditions">
                                <h2>What We Do</h2>
                                <ol>
                                    <li>'Demand & Supply': on-line channel where buying proposals and sales offers, with specific information on the single products, make it possible to develop direct and immediate contacts between importers, buying centers and producers, and to widen commercial horizons;</li>
                                    <li>On-line presentation of quality products in our Show Room, visited every day by thousands of operators;</li>
                                    <li>Solution for freight transport at national and international level thanks to the collaboration with leading company in the transport sector TranspoBank - Ofer Express;</li>
                                    <li>Information with reviews and novelties about the most important international exhibitions.</li>
                                </ol>
                                <h2>What Agrelma Is</h2>
                                <ol>
                                    <li>the most widespread international E-MARKETPLACE in the food and wine sector</li>
                                    <li>SERVICES and TECHNOLOGIES for the food and wine industry</li>
                                    <li>an E-MARKETPLACE where producers and importers from all over the world can make contacts every day</li>
                                </ol>
                                <h2>LEGAL INFORMATION</h2>
                                <p>Agrelma is a service offered by : 
                                    <br><br>
                                    <b>Comeltra Srls </b> - Corso Italia 25 - 34170 Gorizia (Italy)<br>
									<b>Phone: </b>+39.0481.32530<br>
									<b>Fax: </b>+39.0481.545347<br>
									<b>e-Mail: </b>info@agrelma.com<br>
									<b>Certified mail: </b>comeltra@pec.it <br>
									<b>VAT and Tax Code: </b>01156700310<br>
                                </p>
                            </section>
                            <!-- .terms-conditions -->
                        </div>
                        <!-- .entry-content -->
                    </div>
                    <!-- .hentry -->
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- .row -->
    </div>
    <!-- .col-full -->
</div>