<!-- <div class="top-bar top-bar-v1">
    <div class="col-full">
        <ul id="menu-top-bar-left" class="nav justify-content-center">
            <li class="menu-item animate-dropdown">
                <a title="TechMarket eCommerce - Always free delivery" href="contact-v1.html">TechMarket eCommerce &#8211; Always free delivery</a>
            </li>
            <li class="menu-item animate-dropdown">
                <a title="Quality Guarantee of products" href="shop.html">Quality Guarantee of products</a>
            </li>
            <li class="menu-item animate-dropdown">
                <a title="Fast returnings program" href="track-your-order.html">Fast returnings program</a>
            </li>
            <li class="menu-item animate-dropdown">
                <a title="No additional fees" href="contact-v2.html">No additional fees</a>
            </li>
        </ul>
    </div>
</div> -->
<!-- .top-bar-v1 -->
<header id="masthead" class="site-header header-v1  handheld-only" style="background-image: none;">
    <div class="col-full desktop-only">
        <div class="">
            <div class="row">
                <div class="site-branding">
                    <a routerLink="/" class="custom-logo-link" rel="home">
                        <img src="https://raw.githubusercontent.com/vishal-pandey/agrelma/developement/src/assets/agrelma-logo.gif" *ngIf="nodisplay">
                    </a>
                    <!-- /.custom-logo-link -->
                </div>
                <!-- /.site-branding -->
                <!-- ============================================================= End Header Logo ============================================================= -->
                <nav id="primary-navigation" class="primary-navigation" aria-label="Primary Navigation" data-nav="flex-menu" style="width: 100%!important;">
                    <ul id="menu-primary-menu" class="nav yamm">
                        <li class="sale-clr yamm-fw menu-item animate-dropdown">
                            <a title="Home" routerLink="/">Home</a>
                        </li>
                        <li class="menu-item animate-dropdown">
                            <a title="Who We Are" routerLink="/about-us">Who We Are</a>
                        </li>
                        <li class="menu-item animate-dropdown">
                            <a title="Contact Us" routerLink="/contact-us">Contact Us</a>
                        </li>
                        <li class="menu-item animate-dropdown">
                            <a title="Partners" routerLink="/partners">Partners</a>
                        </li>
                        <li class="menu-item animate-dropdown">
                            <a title="FAQ" routerLink="/faq">FAQ</a>
                        </li>
                        <li class="menu-item animate-dropdown" style="float: right;" *ngIf='!this.aS.isLoggedInn()'>
                            <a (click)="openSignup()" style="cursor: pointer;">Register</a> or <a (click)="openLogin()" style="cursor: pointer;">Sign In</a>
                            <!-- <button mat-stroked-button class="advance-search-button" routerLink="/advance-search">Advance Search</button> -->
                        </li>
                        <li class="menu-item animate-dropdown" style="float: right;" *ngIf='this.aS.isLoggedInn()'>
                            <a routerLink="/admin/producer/">Panel</a>
                            &nbsp;&nbsp;&nbsp;<a (click)="this.aS.logout()" style="cursor: pointer;">Logout</a>
                        </li>
                        

                        <li class="menu-item animate-dropdown">
                            
                        </li>
                        <!-- <li class="techmarket-flex-more-menu-item dropdown">
                            <a title="..." href="#" data-toggle="dropdown" class="dropdown-toggle">...</a>
                            <ul class="overflow-items dropdown-menu"></ul>
                        </li> -->
                    </ul>
                    <!-- .nav -->
                </nav>
                <!-- .primary-navigation -->
                <nav id="secondary-navigation" class="secondary-navigation" aria-label="Secondary Navigation" data-nav="flex-menu" *ngIf="nodisplay">
                    <ul id="menu-secondary-menu" class="nav" *ngIf="nodisplay">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2802 animate-dropdown">
                            <a title="Track Your Order" href="track-your-order.html">
                                <i class="tm tm-order-tracking"></i>Track Your Order</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-487 animate-dropdown dropdown">
                            <a title="Dollar (US)" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" href="#">
                                <i class="tm tm-dollar"></i>Dollar (US)
                                <span class="caret"></span>
                            </a>
                            <ul role="menu" class=" dropdown-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-489 animate-dropdown">
                                    <a title="AUD" href="#">AUD</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-490 animate-dropdown">
                                    <a title="INR" href="#">INR</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-491 animate-dropdown">
                                    <a title="AED" href="#">AED</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-492 animate-dropdown">
                                    <a title="SGD" href="#">SGD</a>
                                </li>
                            </ul>
                            <!-- .dropdown-menu -->
                        </li>
                        <li class="menu-item">
                            <a title="My Account" href="login-and-register.html">
                                <i class="tm tm-login-register"></i>Register or Sign in</a>
                        </li>
                        <li class="techmarket-flex-more-menu-item dropdown">
                            <a title="..." href="#" data-toggle="dropdown" class="dropdown-toggle">...</a>
                            <ul class="overflow-items dropdown-menu"></ul>
                        </li>
                    </ul>
                    <!-- .nav -->
                </nav>
                <!-- .secondary-navigation -->
            </div>
            <!-- /.row -->
        </div>
        <!-- .techmarket-sticky-wrap -->
        <div class="row align-items-center">
            <!-- <div id="departments-menu" class="dropdown departments-menu" >
                
                
            </div> -->
            <!-- .departments-menu -->
            <div class="site-branding">
                <a routerLink="/" class="custom-logo-link" rel="home">
                    <img src="https://raw.githubusercontent.com/vishal-pandey/agrelma/developement/src/assets/agrelma-logo.gif">
                </a>
                <!-- /.custom-logo-link -->
            </div>
            <form class="navbar-search" method="get" action="home-v1.html">
                <label class="sr-only screen-reader-text" for="search">Search for:</label>
                <div class="input-group">
                    <input type="text" id="search" class="form-control search-field product-search-field" dir="ltr"  placeholder="Search for products" [(ngModel)]="query" name="query" />
                    <div class="input-group-addon search-categories popover-header">
                        <select name='type' id='product_cat' class='postform resizeselect' [(ngModel)]="type">
                            <option value='0' selected='selected'>Offers</option>
                            <option class="level-0" value="1">Requests</option>
                        </select>
                    </div>
                    <div class="input-group-addon search-categories popover-header">
                        <select name='category' id='product_cat1' class='postform resizeselect' [(ngModel)]="category">
                            <option value='0' selected='selected'>In All Categories</option>

                            <option class="level-0" value="{{category.id}}" *ngFor="let category of categories">{{category.name}}</option>
                            
                            
                        </select>
                    </div>
                    <!-- .input-group-addon -->
                    <div class="input-group-btn input-group-append">
                        <!-- <input type="hidden" id="search-param" name="post_type" value="product" /> -->
                        <button type="submit" class="btn btn-primary" (click)="search()">
                            <i class="fa fa-search"></i>
                            <span class="search-btn">Search</span>
                        </button>
                    </div>
                    <!-- .input-group-btn -->
                </div>
                <!-- .input-group -->
            </form>
            
            <!-- .header-wishlist -->
            <!-- <button mat-stroked-button class="advance-search-button">Advanced Search</button> -->

            <button mat-stroked-button class="advance-search-button" routerLink="/advance-search">Advance Search</button>
            <!-- .site-header-cart -->
        </div>
        <!-- /.row -->
    </div>
    <!-- .col-full -->
    <div class="col-full handheld-only">
        <div class="handheld-header">
            <div class="row">
                <div class="site-branding">
                    <a routerLink="/" class="custom-logo-link" rel="home">
                        <img src="https://raw.githubusercontent.com/vishal-pandey/agrelma/developement/src/assets/agrelma-logo.gif">
                    </a>
                    <!-- /.custom-logo-link -->
                </div>
                <!-- /.site-branding -->
                <!-- ============================================================= End Header Logo ============================================================= -->
                <div class="handheld-header-links">
                    <ul class="columns-3">
                        


                        <li class="menu-item animate-dropdown" style="float: right;" *ngIf='!this.aS.isLoggedInn()'>
                            <a (click)="openSignup()" style="cursor: pointer;">Register</a> or <a routerLink="/login" style="cursor: pointer;">Sign In</a>
                            <!-- <button mat-stroked-button class="advance-search-button" routerLink="/advance-search">Advance Search</button> -->
                        </li>
                        <li class="menu-item animate-dropdown" style="float: right;" *ngIf='this.aS.isLoggedInn()'>
                            <a routerLink="/admin/producer/">Panel</a>
                            &nbsp;&nbsp;&nbsp;<a (click)="this.aS.logout()" style="cursor: pointer;">Logout</a>
                        </li>


                    </ul>
                    <!-- .columns-3 -->
                </div>
                <!-- .handheld-header-links -->
            </div>
            <!-- /.row -->
            <div class="techmarket-sticky-wrap">
                <div class="row">
                    <nav id="handheld-navigation" class="handheld-navigation" aria-label="Handheld Navigation">
                        <button class="btn navbar-toggler" type="button">
                            <i class="tm tm-departments-thin"></i>
                            <span>Menu</span>
                        </button>
                        <div class="handheld-navigation-menu">
                            <span class="tmhm-close">Close</span>
                            <ul id="menu-departments-menu-1" class="nav">
                                <li class="highlight menu-item animate-dropdown">
                                    <a title="Value of the Day" href="/">HOME</a>
                                </li>
                                <li class="highlight menu-item animate-dropdown">
                                    <a title="Top 100 Offers" href="/about-us">WHO WE ARE</a>
                                </li>
                                <li class="highlight menu-item animate-dropdown">
                                    <a title="New Arrivals" href="/contact-us">CONTACT US</a>
                                </li>
                                <li class="highlight menu-item animate-dropdown">
                                    <a title="New Arrivals" href="/partners">PARTNERS</a>
                                </li>
                                <li class="highlight menu-item animate-dropdown">
                                    <a title="New Arrivals" href="/faq">FAQ</a>
                                </li>
                            </ul>
                        </div>
                        <!-- .handheld-navigation-menu -->
                    </nav>
                    <!-- .handheld-navigation -->
                    <div class="site-search">
                        <div class="widget woocommerce widget_product_search">
                            <form role="search" method="get" class="woocommerce-product-search" action="home-v1.html">
                                <label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:</label>
                                <input type="search" id="woocommerce-product-search-field-0" class="search-field" placeholder="Search products&hellip;" value="" name="s" />
                                <input type="submit" value="Search" />
                                <input type="hidden" name="post_type" value="product" />
                            </form>
                        </div>
                        <!-- .widget -->
                    </div>
                    <!-- .site-search -->
                    
                </div>
                <!-- /.row -->
            </div>
            <!-- .techmarket-sticky-wrap -->
        </div>
        <!-- .handheld-header -->
    </div>
    <!-- .handheld-only -->
</header>

<header class="site-header header-v1 desktop-only" style=" margin: 0; padding: 0; width: 100%;">
    <section class="row" style=" margin: 0; padding: 0; width: 100%;">
        <section class="col-sm-12 status-bar">
            <ul id="menu-primary-menu" class="nav yamm">
                <li class="menu-item animate-dropdown" style="float: right;" *ngIf='!this.aS.isLoggedInn()'>
                    <a (click)="openSignup()" style="cursor: pointer; color: #6db173; font-size: 13px;">REGESTER</a> | <a (click)="openLogin()" style="cursor: pointer; font-size: 13px;">Login</a>
                    <!-- <button mat-stroked-button class="advance-search-button" routerLink="/advance-search">Advance Search</button> -->
                </li>
                <li class="menu-item animate-dropdown" style="float: right;" *ngIf='this.aS.isLoggedInn()'>
                    <a routerLink="/admin/producer/">Panel</a>
                    &nbsp;&nbsp;&nbsp;<a (click)="this.aS.logout()" style="cursor: pointer;">Logout</a>
                </li>
            </ul>
        </section>
        <section  class="col-sm-12" style="width: 100%; max-width: 1358px; display: flex; align-items: center; justify-content: center; margin-left: auto; margin-right: auto;">
            <section class="col-sm-2">
                <div class="site-branding">
                    <a routerLink="/" class="custom-logo-link" rel="home">
                        <img src="https://raw.githubusercontent.com/vishal-pandey/agrelma/developement/src/assets/agrelma-logo.gif">
                    </a>
                    <!-- /.custom-logo-link -->
                </div>
            </section>
            <section class="col-sm-10" style="padding-left: 30px;">
                <nav id="primary-navigation" class="primary-navigation" aria-label="Primary Navigation" data-nav="flex-menu" style="width: 100%!important;">
                    <ul id="menu-primary-menu" class="nav yamm">
                        <li class="sale-clr yamm-fw menu-item animate-dropdown">
                            <a title="Home" routerLink="/">Home</a>
                        </li>
                        <li class="menu-item animate-dropdown">
                            <a title="Who We Are" routerLink="/about-us">Who We Are</a>
                        </li>
                        <li class="menu-item animate-dropdown">
                            <a title="Contact Us" routerLink="/contact-us">Contact Us</a>
                        </li>
                        <li class="menu-item animate-dropdown">
                            <a title="Partners" routerLink="/partners">Partners</a>
                        </li>
                        <li class="menu-item animate-dropdown">
                            <a title="FAQ" routerLink="/faq">FAQ</a>
                        </li>
                    </ul>
                    <!-- .nav -->
                </nav>
                <form class="navbar-search" method="get" action="home-v1.html">
                    <label class="sr-only screen-reader-text" for="search">Search for:</label>
                    <div class="input-group">
                        <input type="text" id="search" class="form-control search-field product-search-field" dir="ltr"  placeholder="Search for products" [(ngModel)]="query" name="query" />
                        <div class="input-group-addon search-categories popover-header">
                            <select name='type' id='product_cat' class='postform resizeselect' [(ngModel)]="type">
                                <option value='0' selected='selected'>Offers</option>
                                <option class="level-0" value="1">Requests</option>
                            </select>
                        </div>
                        <div class="input-group-addon search-categories popover-header">
                            <select name='category' id='product_cat1' class='postform resizeselect' [(ngModel)]="category">
                                <option value='0' selected='selected'>In All Categories</option>

                                <option class="level-0" value="{{category.id}}" *ngFor="let category of categories">{{category.name}}</option>
                                
                                
                            </select>
                        </div>
                        <!-- .input-group-addon -->
                        <div class="input-group-btn input-group-append">
                            <!-- <input type="hidden" id="search-param" name="post_type" value="product" /> -->
                            <button type="submit" class="btn btn-primary" (click)="search()">
                                <i class="fa fa-search"></i>
                                <span class="search-btn">Search</span>
                            </button>
                        </div>
                        <!-- .input-group-btn -->
                    </div>
                    <!-- .input-group -->
                </form>
            </section>
        </section>
    </section>
    
</header>


<!-- .header-v1 -->