<div id="content" class="site-content">
    <div class="col-full">
        <div class="row">
            <nav class="woocommerce-breadcrumb">
                <a routerLink="/">Home</a>
                <span class="delimiter">
                    <i class="tm tm-breadcrumbs-arrow-right"></i>
                </span>
                Partners
            </nav>
            <!-- .woocommerce-breadcrumb -->
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="type-page hentry">
                        <header class="entry-header">
                            <div class="page-header-caption">
                                <h1 class="entry-title">Partners</h1>
                            </div>
                        </header>
                        <div class="entry-content">
                            <section class="section terms-conditions">
                                <h2 class="v-heading"><img src="https://www.agrelma.com/Img/DeB.png">D&B Business Reports</h2>
                                <p>
                                	D&B Business Reports are renowned for the up-to-date company and credit information they provide on over 40 million businesses worldwide. Use D&B Reports to find the financial, credit and corporate background information you need to make your credit decisions, sales calls and other business activities more profitable. Over 90 percent of the Business Week Global 1000 rely on D&B as a trusted partner to help them Decide With Confidence.<br><br><b>Available Reports include:</b>
                                </p>

                                <ol>
                                    <li>The U.S. D&B Comprehensive Report (CR), featuring D&B's proprietary statistical scoring along with business, payment and financial information all in one report. Use the CR to see how a U.S. company has performed in the past, as well as to predict how it will perform in the future.</li>
                                    <li>The D&B Business Information Report (BIR), a key source for information on a firm's identity, operations, profitability and stability.</li>
                                    <li>The D&B Company Profile, featuring vital business statistics such as address and telephone number, executive names and title, year and location of incorporation, annual sales figures and number of employees. Use a D&B Company Profile to help you qualify leads, locate sources of supply, and identify potential customers.</li>
                                </ol>
                                <p><b>Visit the <a href="http://www.dnb.com/">D&B website.</a></b></p>

                                <h2 class="v-heading"><img src="https://www.agrelma.com/Img/logocoface.gif">Coface Group</h2>
                                <p>
                                	The Coface Group facilitates, partners and secures trade throughout the world. The Group offers more than 70,000 companies - whether large or small, whatever their business and wherever they are - a full range of solutions spanning rating, protection and services. By furnishing market survey information and investment guarantees along with credit insurance, receivables management and business information, the Group gives its clients the opportunity to outsource the entire management of their customer data accounts.
                                </p>
                                <p>
                                	<b>Unparalleled local service worldwide</b><br>
                                	The Group offers companies a local service in 93 countries and five continents. Six platforms coordinate the Group's global offering in high growth potential regions so as to continually improve its service offering. The CreditAlliance, InfoAlliance and @rating networks unite high quality partners in the fields of credit insurance and credit information, as well as rating.
                                </p>
                                <p>
                                	<b>High Technology paves the way for secure data exchange</b><br>
                                	The Common Risk System, built around a database containing information on 35 million companies worldwide, represents the backbone of the Group's @rating Solution, a unique web-based rating system allowing enterprises to insure trade debt throughout the world. @rating Solution, which now forms part and parcel of all Coface products, helps enterprises to expand in today's global marketplace and will provide them with the keys to success in their future e-business initiatives.. <br><br><b>Key Features</b>
                                </p>

                                <ol>
                                    <li> A world-class business-to-business trade facilitator</li>

                                    <li>No. 1 in export credit insurance</li>
									<li>Operations in 93 countries and five continents</li>
									<li>70,000 clients worldwide</li>
									<li>@rating, the Group's flagship product allowing enterprises to insure trade debt throughout the world</li>
									<li>Common Risk System, an on-line database containing information on 35 million companies worldwide</li>
									<li>2000 turnover of EUR 845.8 million</li>
									<li>Return on equity of 12.8%</li>
									<li>Listed on the first market of the Paris Stock Exchange (member of the SBF 120 index)</li>

                                </ol>
                                <p><b><a href="http://www.coface.com/">Click Here</a></b> To Visit the Website</p>
                                


                                <h2 class="v-heading"><img src="https://www.agrelma.com/Img/Transpobank.png">Transpobank</h2>
                                
                                <p>
                                	<b>High Technology paves the way for secure data exchange</b><br>
                                	Transpobank was founded in Milan in 1988. The company's activity consists in the realisation of ad-hoc services for road transport firms. The company has been highly successful thanks to its ability of perceiving the demand and the expectations of road transport companies and forwarding agents and of translating them rapidly into high-tech services, which can be easily and flexibly applied.<br>
									Thanks to its long experience in this sector and its high development ability, Transpobank is the leading company offering ID-services to road transport companies in Italy. The company's staff consists and branches all over Italy with more than 100 free-lance workers. <br><br><b>The services in this moment available are the following:</b>
                                </p>
                                <p><b><a href="http://www.transpobank.it/">Transpobank </a></b> - Data bank for international transport (within Italy)</p>
                                
                            </section>
                            <!-- .terms-conditions -->
                        </div>
                        <!-- .entry-content -->
                    </div>

                    <div class="type-page hentry">
                        <header class="entry-header">
                            <div class="page-header-caption">
                                <h1 class="entry-title">BANNER EXCHANGE PARTNERS</h1>
                            </div>
                        </header>
                        <div class="entry-content">
                            <section class="section terms-conditions">
                                <h2 class="v-heading"><img src="https://www.agrelma.com/Banners/bn_trK468.gif">TradeKorea.com</h2>
                                <p>
                                	TradeKorea.com is a B2B e-Marketplace that aims to be the most reliable online platform for trade with Korean suppliers and buyers. Extensive & specific databases hold well-organized categories on Korean products, which can be accessed to obtain information about Korean manufacturers and Korean companies. Overseas companies also have a chance to sell their products and open up a new market in Korea.<br><br><b><a href="http://www.tradekorea.com/">Click here</a></b> to visit the website.
                                </p>

                                <h2 class="v-heading"><img src="https://www.agrelma.com/Banners/weiku_LOGO.gif">WeiKu.com</h2>
                                <p>
                                	WeiKu.com is a global free B2B trade platform for products from all fields. We have suppliers and buyers all over the world.
Let's work together to achieve our goal as the world's most prominent giant in the global E-commerce industry, and provide ever-improving services to traders all over the world.<br><br><b><a href="http://www.weiku.com/">Click here</a></b> to visit the website.
                                </p>
                                
                            </section>
                            <!-- .terms-conditions -->
                        </div>
                        <!-- .entry-content -->
                    </div>
                    <!-- .hentry -->
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- .row -->
    </div>
    <!-- .col-full -->
</div>