<section class="d-container">
	<section class="d-i-container">
		<section class="col-sm-12 m-col">
			<div class="d-box">
				<mat-toolbar>
					<h3>Sector : {{selectedSector?.nomesettore}}</h3>
				</mat-toolbar>




				<mat-toolbar *ngIf="sectorTypes && selectedSector?.idsettore == '15'">
					<h3>Meat Of : {{selectedSectorType?.nometipologia}}</h3>
				</mat-toolbar>
				<mat-toolbar *ngIf="sectorTypes && selectedSector?.idsettore != '15'">
					<h3>Type : {{selectedSectorType?.nometipologia}}</h3>
				</mat-toolbar>
				<mat-toolbar *ngIf="varietyTypes && selectedSector?.idsettore == '15'">
					<h3>Type : {{selectedVariety?.nomevarieta}}</h3>
				</mat-toolbar>
				<mat-toolbar *ngIf="varietyTypes && selectedSector?.idsettore != '15' && selectedSector?.idsettore != '6'">
					<h3>Variety : {{selectedVariety?.nomevarieta}}</h3>
				</mat-toolbar>

				<mat-toolbar *ngIf="meatCuts && selectedSector?.idsettore == '15'">
					<h3>Meat Cuts : {{selectedMeatcut?.nomesottovarieta}}</h3>
				</mat-toolbar>

				<mat-toolbar *ngIf="subVariety && selectedSector?.idsettore == '3'">
					<h3>Sub Variety : {{selectedSubVariety?.nomesottovarieta}}</h3>
				</mat-toolbar>

				<mat-toolbar *ngIf="selectedCountry && selectedSector?.idsettore == '6'">
					<h3>Produced in (Country) : {{selectedCountry?.paese}}</h3>
				</mat-toolbar>




				<main>
					<div class="sector-list" *ngIf="!selectedSector">
						<button mat-raised-button *ngFor="let s of sectors" (click)="selectSector(s)">{{s?.nomesettore}}</button>
					</div>
				</main>

				<main *ngIf="selectedSector?.idsettore == '3'">
					<div class="sector-list" *ngIf="sectorTypes && !selectedSectorType && !addNewType">
						<button mat-raised-button *ngFor="let t of sectorTypes" (click)="selectSectorTypes(t)">{{t.nometipologia}}</button>
						<button mat-raised-button class="anchor-button" (click)="addNewType = true">Add New Type</button>
					</div>
					<div class="edit-section" *ngIf="addNewType && !selectedSectorType">
						<input type="text" placeholder="New Type Name " class="col-sm-12" #newType>
						<br>
						<button mat-raised-button class="anchor-button" (click)="addSectorType(newType.value)">Continue</button>
						<button mat-raised-button (click)="addNewType = false" class="anchor-button">Select from list</button>
					</div>

					<div class="sector-list" *ngIf="varietyTypes && !selectedVariety && !addNewVariety">
						<button mat-raised-button *ngFor="let v of varietyTypes" (click)="selectVariety(v)">{{v.nomevarieta}}</button>
						<button mat-raised-button class="anchor-button" (click)=" addNewVariety = true">Add New Variety</button>
						<!-- <button mat-raised-button class="anchor-button" (click)="skipVarietyType()">Skip</button> -->
					</div>
					<div class="edit-section" *ngIf="addNewVariety && !selectedVariety">
						<input type="text" placeholder="New Variety Name" class="col-sm-12" #newVariety>
						<br>
						<button mat-raised-button class="anchor-button" (click)="addVarietyType(newVariety.value)">Continue</button>
						<button mat-raised-button (click)="addNewVariety = false" class="anchor-button">Select from list</button>
					</div>

					<div class="sector-list" *ngIf="subVariety && !selectedSubVariety && !addNewSubVariety">
						<button mat-raised-button *ngFor="let v of subVariety" (click)="selectSubVariety(v)">{{v.nomesottovarieta}}</button>
						<button mat-raised-button class="anchor-button" (click)=" addNewSubVariety = true">Add New Sub Variety</button>
						<button mat-raised-button class="anchor-button" (click)="skipSubVariety()">Skip</button>
					</div>

					<div class="edit-section" *ngIf="addNewSubVariety && !selectedSubVariety">
						<input type="text" placeholder="New Sub Variety Name" class="col-sm-12" #newSubVariety>
						<br>
						<button mat-raised-button class="anchor-button" (click)="addNewSubVarietyType(newSubVariety.value)">Continue</button>
						<button mat-raised-button (click)="addNewSubVariety = false" class="anchor-button">Select from list</button>
					</div>

					<div class="form" *ngIf="selectedSubVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Offer Title</label><input type="text" class="col-sm-8" [(ngModel)]="titolo">
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedSubVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Product Name</label><input type="text" class="col-sm-8" [(ngModel)]="nomeprodotto">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Quality</label><input type="text" class="col-sm-8" [(ngModel)]="qualita">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Certificate</label><input type="text" class="col-sm-8" [(ngModel)]="certificazioni">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Organic Product</label><mat-checkbox [(ngModel)]="biologico"></mat-checkbox>
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedSubVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Additional Description</label>
							<textarea cols="col-sm-8" [(ngModel)]="descrizione"></textarea>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Packing</label><input type="text" class="col-sm-8" [(ngModel)]="imballo">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Produced in (Country)</label>
							<select class="col-sm-6" [(ngModel)]="nazione">
								<option *ngFor="let c of countries" [ngValue]="c.idnazione">{{c.paese}}</option>
							</select>
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedSubVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Price</label>
							<input type="text" class="col-sm-3" placeholder="0,00" [(ngModel)]="prezzo">
							<select class="col-sm-5" [(ngModel)]="valuta">
								<option *ngFor="let p of currencies" [ngValue]="p.codvaluta">{{p.nomevaluta}} ({{p.codvaluta}})</option>
							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Price referred to:</label>
							<input type="text" class="col-sm-3" placeholder="(Ex: 1)" [(ngModel)]="prezzoper">
							<input type="text" class="col-sm-5" placeholder="(Unit of measure - Ex: kg.)" [(ngModel)]="umprezzoper">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Origin</label>
							<input type="text" class="col-sm-4" placeholder="Free on departure charged (EXW Loaded)" [(ngModel)]="luogoconsegna">
							<select class="col-sm-4" [(ngModel)]="nazconsegna">
								<option *ngFor="let c of countries" [(ngValue)]="c.paese">{{c.paese}}</option>
							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Minimum Order</label>
							<input type="text" class="col-sm-3" placeholder="(Ex: 100)" [(ngModel)]="ordineminimo">
							<input type="text" class="col-sm-5" placeholder="(Unit of measure - Ex: kg.)"  [(ngModel)]="unitamisura">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Available quantity:</label><input type="text" class="col-sm-8" [(ngModel)]="quantita">
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedSubVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Preferred way of payment:</label><input type="text" class="col-sm-8" [(ngModel)]="modpag">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Avail.Sending samples</label><mat-checkbox [(ngModel)]="campioni"></mat-checkbox>
						</mat-toolbar>
					</div>
					<mat-toolbar *ngIf="selectedSubVariety">
						<button mat-raised-button (click)="insertOffer()">Continue</button>
					</mat-toolbar>
				</main>
				<main *ngIf="selectedSector?.idsettore == '6'">
					<div class="sector-list" *ngIf="!selectedCountry">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Produced in (Country)</label>
							<mat-form-field class="col-sm-6">
								<mat-select [(ngModel)]="nazione" (selectionChange)="getTypeByCountry()">
									<mat-option *ngFor="let c of countries" [value]="c.idnazione">{{c.paese}}</mat-option>
								</mat-select>
							</mat-form-field>
						</mat-toolbar>
					</div>

					<div class="sector-list" *ngIf="sectorTypes && !selectedSectorType && !addNewType">
						<button mat-raised-button *ngFor="let t of sectorTypes" (click)="selectSectorTypes(t)">{{t.nometipologia}}</button>
						<button mat-raised-button class="anchor-button" (click)="addNewType = true">Add New Type</button>
					</div>
					<div class="edit-section" *ngIf="addNewType && !selectedSectorType">
						<input type="text" placeholder="New Type Name " class="col-sm-12" #newType>
						<br>
						<button mat-raised-button class="anchor-button" (click)="addSectorType(newType.value)">Continue</button>
						<button mat-raised-button (click)="addNewType = false" class="anchor-button">Select from list</button>
					</div>

					<!-- <div class="sector-list" *ngIf="varietyTypes && !selectedVariety && !addNewVariety">
						<button mat-raised-button *ngFor="let v of varietyTypes" (click)="selectVariety(v)">{{v.nomevarieta}}</button>
						<button mat-raised-button class="anchor-button" (click)=" addNewVariety = true">Add New Variety</button>
						<button mat-raised-button class="anchor-button" (click)="skipVarietyType()">Skip</button>
					</div>
					<div class="edit-section" *ngIf="addNewVariety && !selectedVariety">
						<input type="text" placeholder="New Variety Name" class="col-sm-12" #newVariety>
						<br>
						<button mat-raised-button class="anchor-button" (click)="addVarietyType(newVariety.value)">Continue</button>
						<button mat-raised-button (click)="addNewVariety = false" class="anchor-button">Select from list</button>
					</div> -->

					<div class="form" *ngIf="selectedSectorType">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Offer Title</label><input type="text" class="col-sm-8" [(ngModel)]="titolo">
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedSectorType">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Product Name</label><input type="text" class="col-sm-8" [(ngModel)]="nomeprodotto">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Quality</label><input type="text" class="col-sm-8" [(ngModel)]="qualita">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Certificate</label><input type="text" class="col-sm-8" [(ngModel)]="certificazioni">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Organic Product</label><mat-checkbox [(ngModel)]="biologico"></mat-checkbox>
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedSectorType">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-6">Type Of Cheese</label>
							<select class="col-sm-6" [(ngModel)]="TipoF">
								<option value="1">Fresh</option>
								<option value="2">Soft</option>
								<option value="3">Hard</option>
								<option value="4">With herbs</option>
								<option value="5">Processed</option>
							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-6">Type Of Paste</label>
							<select class="col-sm-6" [(ngModel)]="Pasta">
								<option value="1">Raw</option>
								<option value="2">Cooked</option>
								<option value="3">Half-Cooked</option>
								<option value="4">Hard</option>
								<option value="5">Soft</option>
								<option value="6">Filata (Streched curd)</option>

							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-6">Type Of Processing</label>
							<select class="col-sm-6" [(ngModel)]="TipoL">
								<option value="1">Pressed</option>
								<option value="2">Filata (Streched curd)</option>
								<option value="3">Slow coagulation</option>
								<option value="4">Rapid coagulation</option>
								<option value="5">Breaking</option>
								<option value="6">Agitation</option>

							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Basic milk</label><input type="text" class="col-sm-8" [(ngModel)]="Latte">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Fat content on dry weight</label><input type="text" class="col-sm-8" [(ngModel)]="Grasso">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Water content</label><input type="text" class="col-sm-8" [(ngModel)]="Acqua">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Taste</label><input type="text" class="col-sm-8" [(ngModel)]="Sapore">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Color</label><input type="text" class="col-sm-8" [(ngModel)]="Colore">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Time for seasoning</label><input type="text" class="col-sm-8" [(ngModel)]="DurataS">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Time for preservation</label><input type="text" class="col-sm-8" [(ngModel)]="DurataC">
						</mat-toolbar>

					</div>
					<br>
					<div class="form" *ngIf="selectedSectorType">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Additional Description</label>
							<textarea cols="col-sm-8" [(ngModel)]="descrizione"></textarea>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Package</label><input type="text" class="col-sm-8" [(ngModel)]="Confezione">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Packing</label><input type="text" class="col-sm-8" [(ngModel)]="imballo">
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedSectorType">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Price</label>
							<input type="text" class="col-sm-3" placeholder="0,00" [(ngModel)]="prezzo">
							<select class="col-sm-5" [(ngModel)]="valuta">
								<option *ngFor="let p of currencies" [ngValue]="p.codvaluta">{{p.nomevaluta}} ({{p.codvaluta}})</option>
							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Price referred to:</label>
							<input type="text" class="col-sm-3" placeholder="(Ex: 1)" [(ngModel)]="prezzoper">
							<input type="text" class="col-sm-5" placeholder="(Unit of measure - Ex: kg.)" [(ngModel)]="umprezzoper">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Origin</label>
							<input type="text" class="col-sm-4" placeholder="Free on departure charged (EXW Loaded)" [(ngModel)]="luogoconsegna">
							<select class="col-sm-4" [(ngModel)]="nazconsegna">
								<option *ngFor="let c of countries" [(ngValue)]="c.paese">{{c.paese}}</option>
							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Minimum Order</label>
							<input type="text" class="col-sm-3" placeholder="(Ex: 100)" [(ngModel)]="ordineminimo">
							<input type="text" class="col-sm-5" placeholder="(Unit of measure - Ex: kg.)"  [(ngModel)]="unitamisura">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Available quantity:</label><input type="text" class="col-sm-8" [(ngModel)]="quantita">
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedSectorType">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Preferred way of payment:</label><input type="text" class="col-sm-8" [(ngModel)]="modpag">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Avail.Sending samples</label><mat-checkbox [(ngModel)]="campioni"></mat-checkbox>
						</mat-toolbar>
					</div>
					<mat-toolbar *ngIf="selectedSectorType">
						<button mat-raised-button (click)="insertOffer()">Continue</button>
					</mat-toolbar>
				</main>
				<main *ngIf="selectedSector?.idsettore == '10'">
					<div class="sector-list" *ngIf="sectorTypes && !selectedSectorType && !addNewType">
						<button mat-raised-button *ngFor="let t of sectorTypes" (click)="selectSectorTypes(t)">{{t.nometipologia}}</button>
						<button mat-raised-button class="anchor-button" (click)="addNewType = true">Add New Type</button>
					</div>
					<div class="edit-section" *ngIf="addNewType && !selectedSectorType">
						<input type="text" placeholder="New Type Name " class="col-sm-12" #newType>
						<br>
						<button mat-raised-button class="anchor-button" (click)="addSectorType(newType.value)">Continue</button>
						<button mat-raised-button (click)="addNewType = false" class="anchor-button">Select from list</button>
					</div>

					<div class="sector-list" *ngIf="varietyTypes && !selectedVariety && !addNewVariety">
						<button mat-raised-button *ngFor="let v of varietyTypes" (click)="selectVariety(v)">{{v.nomevarieta}}</button>
						<button mat-raised-button class="anchor-button" (click)=" addNewVariety = true">Add New Variety</button>
						<button mat-raised-button class="anchor-button" (click)="skipVarietyType()">Skip</button>
					</div>
					<div class="edit-section" *ngIf="addNewVariety && !selectedVariety">
						<input type="text" placeholder="New Variety Name" class="col-sm-12" #newVariety>
						<br>
						<button mat-raised-button class="anchor-button" (click)="addVarietyType(newVariety.value)">Continue</button>
						<button mat-raised-button (click)="addNewVariety = false" class="anchor-button">Select from list</button>
					</div>

					<div class="form" *ngIf="selectedVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-6">Product Type</label>
							<select class="col-sm-6" [(ngModel)]="TipoP">
								<option value="1">Fresh</option>
								<option value="2">Frozen</option>
								<option value="3">Breed</option>
								<option value="4">Packed</option>
							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Offer Title</label><input type="text" class="col-sm-8" [(ngModel)]="titolo">
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Trademark</label><input type="text" class="col-sm-8" [(ngModel)]="nomeprodotto">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Quality</label><input type="text" class="col-sm-8" [(ngModel)]="qualita">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Certificate</label><input type="text" class="col-sm-8" [(ngModel)]="certificazioni">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Organic Product</label><mat-checkbox [(ngModel)]="biologico"></mat-checkbox>
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Additional Description</label>
							<textarea cols="col-sm-8" [(ngModel)]="descrizione"></textarea>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Package</label><input type="text" class="col-sm-8" [(ngModel)]="Confezione">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Packing</label><input type="text" class="col-sm-8" [(ngModel)]="imballo">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Produced in (Country)</label>
							<select class="col-sm-6" [(ngModel)]="nazione">
								<option *ngFor="let c of countries" [ngValue]="c.idnazione">{{c.paese}}</option>
							</select>
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Price</label>
							<input type="text" class="col-sm-3" placeholder="0,00" [(ngModel)]="prezzo">
							<select class="col-sm-5" [(ngModel)]="valuta">
								<option *ngFor="let p of currencies" [ngValue]="p.codvaluta">{{p.nomevaluta}} ({{p.codvaluta}})</option>
							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Price referred to:</label>
							<input type="text" class="col-sm-3" placeholder="(Ex: 1)" [(ngModel)]="prezzoper">
							<input type="text" class="col-sm-5" placeholder="(Unit of measure - Ex: kg.)" [(ngModel)]="umprezzoper">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Origin</label>
							<input type="text" class="col-sm-4" placeholder="Free on departure charged (EXW Loaded)" [(ngModel)]="luogoconsegna">
							<select class="col-sm-4" [(ngModel)]="nazconsegna">
								<option *ngFor="let c of countries" [(ngValue)]="c.paese">{{c.paese}}</option>
							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Minimum Order</label>
							<input type="text" class="col-sm-3" placeholder="(Ex: 100)" [(ngModel)]="ordineminimo">
							<input type="text" class="col-sm-5" placeholder="(Unit of measure - Ex: kg.)"  [(ngModel)]="unitamisura">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Available quantity:</label><input type="text" class="col-sm-8" [(ngModel)]="quantita">
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Preferred way of payment:</label><input type="text" class="col-sm-8" [(ngModel)]="modpag">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Avail.Sending samples</label><mat-checkbox [(ngModel)]="campioni"></mat-checkbox>
						</mat-toolbar>
					</div>
					<mat-toolbar *ngIf="selectedVariety">
						<button mat-raised-button (click)="insertOffer()">Continue</button>
					</mat-toolbar>
				</main>
				<main *ngIf="selectedSector?.idsettore == '15'">
					<div class="sector-list" *ngIf="sectorTypes && !selectedSectorType">
						<button mat-raised-button *ngFor="let t of sectorTypes" (click)="selectSectorTypes(t)">{{t.nometipologia}}</button>
					</div>
					<div class="sector-list" *ngIf="varietyTypes && !selectedVariety">
						<button mat-raised-button *ngFor="let v of varietyTypes" (click)="selectVariety(v)">{{v.nomevarieta}}</button>
					</div>
					<div class="sector-list" *ngIf="meatCuts && !selectedMeatcut">
						<button mat-raised-button *ngFor="let m of meatCuts" (click)="selectMeatCut(m)">{{m.nomesottovarieta}}</button>
					</div>


					<div class="form" *ngIf="selectedMeatcut">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Offer Title</label><input type="text" class="col-sm-8" [(ngModel)]="titolo">
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedMeatcut">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Quality</label><input type="text" class="col-sm-8">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Frozen Product</label><mat-checkbox></mat-checkbox>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Organic Product</label><mat-checkbox></mat-checkbox>
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedMeatcut">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Additional Description</label>
							<textarea cols="col-sm-8"></textarea>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Packing</label><input type="text" class="col-sm-8">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Produced in (Country)</label>
							<select class="col-sm-6" >
								<option *ngFor="let c of countries">{{c.paese}}</option>
							</select>

						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedMeatcut">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Price</label>
							<input type="text" class="col-sm-3" placeholder="0,00">
							<select class="col-sm-5">
								<option *ngFor="let p of currencies">{{p.nomevaluta}} ({{p.codvaluta}})</option>
							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Price referred to:</label>
							<input type="text" class="col-sm-3" placeholder="(Ex: 1)">
							<input type="text" class="col-sm-5" placeholder="(Unit of measure - Ex: kg.)" [(ngModel)]="umprezzoper">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Origin</label>
							<input type="text" class="col-sm-4" placeholder="Free on departure charged (EXW Loaded)">
							<select class="col-sm-4">
								<option *ngFor="let c of countries">{{c.paese}}</option>
							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Minimum Order</label>
							<input type="text" class="col-sm-3" placeholder="(Ex: 100)">
							<input type="text" class="col-sm-5" placeholder="(Unit of measure - Ex: kg.)" [(ngModel)]="unitamisura">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Available quantity:</label><input type="text" class="col-sm-8">
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedMeatcut">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Preferred way of payment:</label><input type="text" class="col-sm-8" [(ngModel)]="modpag">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Avail.Sending samples</label><mat-checkbox></mat-checkbox>
						</mat-toolbar>
					</div>
				</main>
				<main *ngIf="(selectedSector?.idsettore != '15') && selectedSector?.idsettore != '3' && selectedSector?.idsettore != '6' && selectedSector?.idsettore != '10'">
					<div class="sector-list" *ngIf="sectorTypes && !selectedSectorType && !addNewType">
						<button mat-raised-button *ngFor="let t of sectorTypes" (click)="selectSectorTypes(t)">{{t.nometipologia}}</button>
						<button mat-raised-button class="anchor-button" (click)="addNewType = true">Add New Type</button>
					</div>
					<div class="edit-section" *ngIf="addNewType && !selectedSectorType">
						<input type="text" placeholder="New Type Name " class="col-sm-12" #newType>
						<br>
						<button mat-raised-button class="anchor-button" (click)="addSectorType(newType.value)">Continue</button>
						<button mat-raised-button (click)="addNewType = false" class="anchor-button">Select from list</button>
					</div>

					<div class="sector-list" *ngIf="varietyTypes && !selectedVariety && !addNewVariety">
						<button mat-raised-button *ngFor="let v of varietyTypes" (click)="selectVariety(v)">{{v.nomevarieta}}</button>
						<button mat-raised-button class="anchor-button" (click)=" addNewVariety = true">Add New Variety</button>
						<button mat-raised-button class="anchor-button" (click)="skipVarietyType()">Skip</button>
					</div>
					<div class="edit-section" *ngIf="addNewVariety && !selectedVariety">
						<input type="text" placeholder="New Variety Name" class="col-sm-12" #newVariety>
						<br>
						<button mat-raised-button class="anchor-button" (click)="addVarietyType(newVariety.value)">Continue</button>
						<button mat-raised-button (click)="addNewVariety = false" class="anchor-button">Select from list</button>
					</div>

					<div class="form" *ngIf="selectedVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Offer Title</label><input type="text" class="col-sm-8" [(ngModel)]="titolo">
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Trademark</label><input type="text" class="col-sm-8" [(ngModel)]="nomeprodotto">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Quality</label><input type="text" class="col-sm-8" [(ngModel)]="qualita">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Certificate</label><input type="text" class="col-sm-8" [(ngModel)]="certificazioni">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Organic Product</label><mat-checkbox [(ngModel)]="biologico"></mat-checkbox>
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Additional Description</label>
							<textarea cols="col-sm-8" [(ngModel)]="descrizione"></textarea>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Packing</label><input type="text" class="col-sm-8" [(ngModel)]="imballo">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Produced in (Country)</label>
							<select class="col-sm-6" [(ngModel)]="nazione">
								<option *ngFor="let c of countries" [ngValue]="c.idnazione">{{c.paese}}</option>
							</select>
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Price</label>
							<input type="text" class="col-sm-3" placeholder="0,00" [(ngModel)]="prezzo">
							<select class="col-sm-5" [(ngModel)]="valuta">
								<option *ngFor="let p of currencies" [ngValue]="p.codvaluta">{{p.nomevaluta}} ({{p.codvaluta}})</option>
							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Price referred to:</label>
							<input type="text" class="col-sm-3" placeholder="(Ex: 1)" [(ngModel)]="prezzoper">
							<input type="text" class="col-sm-5" placeholder="(Unit of measure - Ex: kg.)" [(ngModel)]="umprezzoper">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Origin</label>
							<input type="text" class="col-sm-4" placeholder="Free on departure charged (EXW Loaded)" [(ngModel)]="luogoconsegna">
							<select class="col-sm-4" [(ngModel)]="nazconsegna">
								<option *ngFor="let c of countries" [(ngValue)]="c.paese">{{c.paese}}</option>
							</select>
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Minimum Order</label>
							<input type="text" class="col-sm-3" placeholder="(Ex: 100)" [(ngModel)]="ordineminimo">
							<input type="text" class="col-sm-5" placeholder="(Unit of measure - Ex: kg.)"  [(ngModel)]="unitamisura">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Available quantity:</label><input type="text" class="col-sm-8" [(ngModel)]="quantita">
						</mat-toolbar>
					</div>
					<br>
					<div class="form" *ngIf="selectedVariety">
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Preferred way of payment:</label><input type="text" class="col-sm-8" [(ngModel)]="modpag">
						</mat-toolbar>
						<mat-toolbar class="col-sm-12">
							<label class="col-sm-4">Avail.Sending samples</label><mat-checkbox [(ngModel)]="campioni"></mat-checkbox>
						</mat-toolbar>
					</div>
					<mat-toolbar *ngIf="selectedVariety">
						<button mat-raised-button (click)="insertOffer()">Continue</button>
					</mat-toolbar>
				</main>
			</div>
		</section>
	</section>
</section>