/*Primary Color : #67a961    */
.container{
	width: 100%;
	padding: 10px;
}
.side-bar{
	min-height: 600px;
	border-right: 1px solid rgba(255,1,1,0.1);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 25%;
}
.main-content{
	width: 75%;
	min-height: 600px;
}





/*Primary Color : #67a961    */
.request-container{
	width: 100%;
}
.request-title{
	font-size: 18px;
	padding: 10px;
	background-color: white;
	border: 1px solid #67a961;
	/*box-shadow: 1px 1px 1px rgb(255,1,1,0.1),
							-1px -1px 1px rgb(255,1,1,0.1);*/
	border-radius: 3px;
}
.requests{
	width: 100%;
	padding: 20px;
	min-height: 300px;
	border: 1px solid #67a961;
	border-top: unset;
	/*background-color: white;*/
}
.request-slider{
	padding: 0!important;
	height: 150px;
	width: 150px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid rgb(98,171,1);
	/*box-shadow: 2px 2px 2px rgb(1,255,1,0.4),
							-2px -2px 2px rgb(1,255,1,0.4)!important;*/
}

.request-slider mat-card-subtitle{
	font-size: 11px;
}
.leftRs{
	position: absolute;
  margin: auto;
  top: 0;
	bottom: 0;
	left: 0;
	background-color: #67a961;
}
.rightRs{
	position: absolute;
  margin: auto;
  top: 0;
	right: 0;
	bottom: 0;
	background-color: #67a961;
}

.request-slider mat-card-subtitle{
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 10px;
}





.product_cat{
	padding: 0;
	margin: 0;

}





/*Primary Color : #67a961    */



.sectors{
	height: 50px;
	padding: 0;
	width: 100%;
	background-color: white;
	border: 2px solid #67a961;
	border-bottom: unset;
	border-radius: 3px 3px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sector-tabs{
	width: 100%;
	border: 2px solid #67a961;
	border-top: unset;	
	border-radius: 3px 3px 3px 3px;
}
.side-container{
	/*width: 50;*/
	/*padding: 30px;*/
}
.tab-header{
	width: 10px;
	height: 10px;
}
mat-nav-list{
	/*font-size: 1px;*/
}

/deep/.mat-tab-label, /deep/.mat-tab-label-active{
 min-width: 48%!important;
 padding: 3px!important;
 margin: 3px!important;
}






.v-showcase-border{
	border: 2px solid #67a961;
	padding: 20px;
}
.v-middle{
	border-top: unset;
	border-bottom: unset;
}
.v-top{
	margin-bottom: 0;
	border-bottom: unset;
	border-radius: 3px 3px 0 0;
}
.v-bottom{
	border-top: unset;
	border-radius: 0 0 3px 3px;
}