<section class="try-container">
	<h2>Increase your offers’ visibility!</h2>
	<mat-divider></mat-divider>
	<section class="content col-sm-12">
		<section class="col-sm-9 info">
			<h3>Agrelma’s showcase</h3>
			<p>The offers placed in the showcase are <b>highlighted</b> in every webpage and therefore are viewed frequently by the users.</p>
			<p>Each time you put an offer in the showcase <b> the offer itself will be shown randomly within the homepage and the search pages for 7 or 30 days, according to your choice.</b></p>
			<mat-divider></mat-divider>
			<div>
				<h4>Insert your offer in the Showcase</h4>
				<ul>
					<li>for 1 week costs 9,00 €</li>
					<li>for 1 month costs 28,00 €</li>
				</ul>
			</div>
		</section>
		<section class="col-sm-3" style="text-align: center;">
			<img src="https://www.agrelma.com/Img/InVetrina.png">
		</section>
	</section>
	<section class="footer col-sm-12" style="text-align: center;">
		<img src="https://www.agrelma.com/Img/InVetrinaPC.jpg">
		<br>
		<br>
		<mat-divider></mat-divider>
		<br>
		<br>
		<button routerLink="/login" (click)="onNoClick()">Activate Now</button>
		<br>
	</section>
</section>