<section class="d-container">
	<section class="d-i-container">
		<section class="col-sm-4 l-col">
			<div class="d-box">
				<header>
					<h3>Requests that may be interesting for you (20)</h3>
				</header>
				<main>
					This is the content
				</main>
			</div>
			<div class="d-box">
				<header style="width: 100%; flex-direction: column;">
					<h3>View Offers / Requests</h3>
					<mat-tab-group>
					  <mat-tab label="Requests"></mat-tab>
					  <mat-tab label="Offers"></mat-tab>
					</mat-tab-group>
				</header>
				<main style="padding: 10px; display: flex;align-items: center;justify-content: space-around;flex-wrap: wrap;">
					<button mat-stroked-button>Cereals</button>
					<button mat-stroked-button>Cheese</button>
					<button mat-stroked-button>Citrus</button>
					<button mat-stroked-button>Crostacea and Mollusca</button>
					<button mat-stroked-button>Cured Pork</button>
					<button mat-stroked-button>Frozen products</button>
					<button mat-stroked-button>Fruits</button>
					<button mat-stroked-button>Oil Seeds</button>
					<button mat-stroked-button>Olives</button>
					<button mat-stroked-button>Preserves</button>
					<button mat-stroked-button>Quality Wine</button>
					<button mat-stroked-button>Vinegar</button>
					<button mat-stroked-button>Coffee</button>
					<button mat-stroked-button>Convenience</button>
					<button mat-stroked-button>Delicatessen</button>
					<button mat-stroked-button>Drink</button>
					<button mat-stroked-button>Fish and Seafood</button>
					<button mat-stroked-button>Liquors</button>
					<button mat-stroked-button>Meat</button>
					<button mat-stroked-button>Oil</button>
					<button mat-stroked-button>Packed Fisheries</button>
					<button mat-stroked-button>Packed Fruit and Vegetables</button>
					<button mat-stroked-button>Pasta</button>
					<button mat-stroked-button>Sweets and dough products</button>
					<button mat-stroked-button>Table Wine</button>
					<button mat-stroked-button>Vegetables</button>
				</main>
			</div>
		</section>
		<section class="col-sm-8 m-col">
			<div class="d-box">
				<header>
					<h3>Inserted Requests List</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					This is the content
				</main>
			</div>
			<div class="d-box">
				<header>
					<h3>Inserted Offers List</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					This is the content
				</main>
			</div>
		</section>
		
	</section>
</section>