<section class="d-container">
	<section class="d-i-container">
		<section class="col-sm-12 l-col">
			<div class="d-box">
				<header>
					<h3>Sent</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					<table mat-table [dataSource]="msgrSource" class="mat-elevation-z1">

					  <!--- Note that these columns can be defined in any order.
					        The actual rendered columns are set as a property on the row definition" -->

					  <!-- Position Column -->
					  <ng-container matColumnDef="subject" sticky>
					    <th mat-header-cell *matHeaderCellDef> Subject </th>
					    <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
					  </ng-container>

					  <!-- Name Column -->
					  <ng-container matColumnDef="sender">
					    <th mat-header-cell *matHeaderCellDef> Recipient </th>
					    <td mat-cell *matCellDef="let element"> {{element.sender}} </td>
					  </ng-container>

					  <!-- Weight Column -->
					  <ng-container matColumnDef="date">
					    <th mat-header-cell *matHeaderCellDef> Date/Time </th>
					    <td mat-cell *matCellDef="let element"> {{element.date | date}} {{element.time}} </td>
					  </ng-container>

					  <!-- Symbol Column -->
					  <ng-container matColumnDef="actions" stickyEnd>
					    <th mat-header-cell *matHeaderCellDef> Read </th>
					    <td mat-cell *matCellDef="let element"><span (click)="openMessageR(element.message)"><button mat-icon-button matTooltip="See the message"><mat-icon>message</mat-icon></button></span>  </td>
					  </ng-container>

					  <tr mat-header-row *matHeaderRowDef="msgrCols"></tr>
					  <tr mat-row *matRowDef="let row; columns: msgrCols;"></tr>
					</table>
				</main>
			</div>
		</section>
		<section class="col-sm-12 r-col">
			<div class="d-box">
				<header>
					<h3>Sent</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					<table mat-table [dataSource]="msgsSource" class="mat-elevation-z1">

					  <!--- Note that these columns can be defined in any order.
					        The actual rendered columns are set as a property on the row definition" -->

					  <!-- Position Column -->
					  <ng-container matColumnDef="subject">
					    <th mat-header-cell *matHeaderCellDef> Subject </th>
					    <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
					  </ng-container>

					  <!-- Name Column -->
					  <ng-container matColumnDef="recipient">
					    <th mat-header-cell *matHeaderCellDef> Recipient </th>
					    <td mat-cell *matCellDef="let element"> {{element.recipient}} </td>
					  </ng-container>

					  <!-- Weight Column -->
					  <ng-container matColumnDef="date">
					    <th mat-header-cell *matHeaderCellDef> Date/Time </th>
					    <td mat-cell *matCellDef="let element"> {{element.date | date}} {{element.time}} </td>
					  </ng-container>

					  <!-- Symbol Column -->
					  <ng-container matColumnDef="actions">
					    <th mat-header-cell *matHeaderCellDef> Read </th>
					    <td mat-cell *matCellDef="let element"> <span (click)="openMessageR(element.message)"><button mat-icon-button matTooltip="See the message"><mat-icon>message</mat-icon></button></span> </td>
					  </ng-container>

					  <tr mat-header-row *matHeaderRowDef="msgsCols;"></tr>
					  <tr mat-row *matRowDef="let row; columns: msgsCols;"></tr>
					</table>
				</main>
			</div>
		</section>
	</section>
</section>