<section class="container">
	<div class="heading"> <h1>Advanced search</h1> </div>
	<div class="advanced-search-box">
		<mat-form-field class="query" appearance="outline">
			<mat-label>Search Here</mat-label>
	    <input matInput placeholder="Start Typing Results Would Appear Accordingly">
	  </mat-form-field>
	  <mat-form-field class="sector-selector" appearance="outline">
		  <mat-select [value]="'default'">
		  	<mat-option [value]="'default'">
		      All The Words
		    </mat-option>
		    <mat-option [value]="'oneormore'">
		      One Or More Word
		    </mat-option>
		    <mat-option [value]="'exact'">
		      Exact search
		    </mat-option>
		  </mat-select>
		</mat-form-field>
		<mat-radio-group>
		  <mat-radio-button value="1" checked="true">Offers</mat-radio-button>
		  <mat-radio-button value="2">Requests</mat-radio-button>
		</mat-radio-group>
	</div>

</section>
