<section class="d-container">
	<section class="d-i-container">
		<section class="col-sm-12 m-col">
			<div class="d-box">
				<header>
					<h3>The services of consumption for the requests reception are already enabled.</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					<div class="col-sm-12" style="display: flex;
					align-items: center;
					justify-content: space-around;">
						<button mat-stroked-button routerLink="../producer-accounting">Consumption management area</button>
						<button mat-stroked-button>Charge your credit</button>
					</div>
				</main>
			</div>
		</section>
		<!-- <section class="col-sm-3 l-col">
			<div class="d-box">
				<header>
					<h3>Title Of widget</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					This is the content
				</main>
			</div>
			<div class="d-box">
				<header>
					<h3>Title Of widget</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				This is the content
			</div>
		</section>
		<section class="col-sm-6 m-col">
			<div class="d-box">
				<header>
					<h3>Another Title of the widget</h3>
					<span class="action">
						<button mat-icon-button>
							<mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				This is the content
			</div>
		</section>
		<section class="col-sm-3 r-col">
			<div class="d-box">
				This is the content
			</div>
		</section> -->
	</section>
</section>