<section class="d-container">
	<section class="d-i-container">
		<section class="col-sm-12 m-col" *ngIf="nodisplay">
			<div class="d-box">
				<header>
					<h3>The services of consumption for the requests reception are already enabled.</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					<div class="col-sm-12" style="display: flex;
					align-items: center;
					justify-content: space-around;">
						<button mat-stroked-button routerLink="../producer-accounting">Consumption management area</button>
						<button mat-stroked-button routerLink="/x-pay">Charge your credit</button>
					</div>
				</main>
			</div>
		</section>
		<section class="col-sm-7 r-col">

			<div class="d-box">
				<header>
					<h3>Receive requests via e-Mail Its Free</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					<input type="text" placeholder="email" class="col-sm-12" value="{{companyData?.indemail}}">
				</main>
			</div>

			<div class="d-box">
				<header>
					<h3>Select the country of which you want the requests</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					<select *ngIf="countryList" class="col-sm-12">
						<option>Select Country</option>
						<option *ngFor="let c of countryList">{{c.paese}}</option>
					</select>
				</main>
			</div>

			<div class="d-box">
				<header>
					<h3>Select in the list below the sectors for which you are interested to receive the requests:</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>

					<div class="col-sm-6" style="display: inline-block;" *ngFor="let sector of selectedSectors">
						<span *ngIf="sector.selected == '1'">
							<mat-checkbox checked="true">{{sector.nomesettore}}</mat-checkbox><br>
						</span>
						<span *ngIf="sector.selected != '1'">
							<mat-checkbox>{{sector.nomesettore}}</mat-checkbox><br>
						</span>

					</div>
					<div class="submit-button"><button mat-raised-button>Save Changes</button></div>
				</main>
			</div>
		</section>

	</section>
</section>