<section class="banner-container">
	<div class="col-sm-8 content-left">
		<h2>Banner Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce leo augue, mattis et ipsum ut, molestie sollicitudin nisi. Nulla imperdiet semper diam, nec pellentesque felis vehicula ut. Pellentesque eleifend ultrices massa. Ut in ex porta, placerat ligula sed, elementum ex. </p>
		<p>
			<br>
			<button mat-stroked-button>Learn More &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></button>
		</p>
	</div>
	<div class="col-sm-4 content-right"><img src="http://agrelma.demosteps.com/images/Banner-slider2.png"></div>
</section>