<section class="d-container">
	<section class="d-i-container">
		<section class="col-sm-6 l-col">
			<div class="d-box">
				<header>
					<h3>Company Data</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					<div class="form-group d-form">
						<label>Company Name</label>
						<input type="text" placeholder="Company Name" class="col-sm-12" value="{{companyData?.azienda}}">
					</div>
					<div class="form-group d-form">
						<label>Address</label>
						<input type="text" placeholder="Address" class="col-sm-12" value="{{companyData?.indirizzo}}">
					</div>
					<div class="form-group d-form">
						<label>City</label>
						<input type="text" placeholder="City" class="col-sm-12" value="{{companyData?.citta}}">
					</div>
					<div class="form-group d-form">
						<label>PO Box/Province</label>
						<input type="text" placeholder="City" class="col-sm-12">
					</div>
					<div class="form-group d-form">
						<label>Country</label>
						<input type="text" placeholder="Country" class="col-sm-12" value="{{companyData?.nazione}}">
					</div>
					<div class="form-group d-form">
						<label>VAT/Cod.Fisc.</label>
						<input type="text" placeholder="VAT/Cod.Fisc." class="col-sm-12">
					</div>
					<div class="form-group d-form">
						<label>Contact</label>
						<input type="text" placeholder="Contact Person" class="col-sm-12" value="{{companyData?.contatto}}">
					</div>
					<div class="submit-button"><button mat-raised-button>Save</button></div>
				</main>
			</div>
			<div class="d-box">
				<header>
					<h3>Exhibitions</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					<p>Describe below the fairs to which your company participates in selecting from a list or by entering them manually:</p>
					<div class="form-group d-form">
						<select class="col-sm-12">
						  <option value="0" selected>Select...</option>
						  <option value="ALIMENTARIA - Spain">ALIMENTARIA - Spain</option>
						  <option value="ANUGATEC - Germany">ANUGATEC - Germany</option>
						  <option value="ESPAÑA ORIGINAL - Spain">ESPAÑA ORIGINAL - Spain</option>
						  <option value="EUROGASTRO - Poland">EUROGASTRO - Poland</option>
						  <option value="FENAVIN - Spain">FENAVIN - Spain</option>
						  <option value="FOOD INGREDIENTS EUROPE - France">FOOD INGREDIENTS EUROPE - France</option>
						  <option value="GIDA - Turkey">GIDA - Turkey</option>
						  <option value="HISPACK & BTA. - Spain">HISPACK &amp; BTA. - Spain</option>
						  <option value="IFEX - Philippines">IFEX - Philippines</option>
						  <option value="INTERWINE - China">INTERWINE - China</option>
						  <option value="ISM - Germany">ISM - Germany</option>
						  <option value="LUGANO WINE FESTIVAL - Switzerland">LUGANO WINE FESTIVAL - Switzerland</option>
						  <option value="MEDFEL - France">MEDFEL - France</option>
						  <option value="MONDIAL DU MERLOT - Switzerland">MONDIAL DU MERLOT - Switzerland</option>
						  <option value="OLIVTECH - Turkey">OLIVTECH - Turkey</option>
						  <option value="PIÙGUSTO - Switzerland">PIÙGUSTO - Switzerland</option>
						  <option value="PROSWEETS COLOGNE - Germany">PROSWEETS COLOGNE - Germany</option>
						  <option value="PROWEIN - Germany">PROWEIN - Germany</option>
						  <option value="RISTORA - Switzerland">RISTORA - Switzerland</option>
						  <option value="SAPORE - Italy">SAPORE - Italy</option>
						  <option value="SIAL - France">SIAL - France</option>
						  <option value="TUTTOFOOD - Italy">TUTTOFOOD - Italy</option>
						  <option value="VINISUD - France">VINISUD - France</option>
						  <option value="VINITALY - Italy">VINITALY - Italy</option>
						</select>
					</div>
					<div class="form-group d-form">
						<textarea value="{{companyData?.fiere}}"></textarea>
					</div>
					
					<div class="submit-button"><button mat-raised-button>Save</button></div>
				</main>
			</div>
		</section>
		<section class="col-sm-6 r-col">
			<div class="d-box">
				<header>
					<h3>Addresses</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					<div class="form-group d-form">
						<label>Main Phone</label>
						<input type="text" placeholder="Main Phone" class="col-sm-12" value="{{companyData?.ntelefono}}">
					</div>
					<div class="form-group d-form">
						<label>Second Phone</label>
						<input type="text" placeholder="Second Phone" class="col-sm-12" value="{{companyData?.cellulare}}">
					</div>
					<div class="form-group d-form">
						<label>Fax</label>
						<input type="text" placeholder="Fax" class="col-sm-12" value="{{companyData?.nfax}}">
					</div>
					<div class="form-group d-form">
						<label>e-Mail address</label>
						<input type="text" placeholder="e-Mail address" class="col-sm-12" value="{{companyData?.indemail}}">
					</div>
					<div class="form-group d-form">
						<label>Website</label>
						<input type="text" placeholder="Website" class="col-sm-12" value="{{companyData?.indwww}}">
					</div>
					<div class="submit-button"><button mat-raised-button>Save</button></div>
				</main>
			</div>
			<div class="d-box">
				<header>
					<h3>Certification</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					<p>Describe below the certifications of your company and perhaps add its image:</p>
					<div class="form-group d-form">
						<textarea value="{{companyData?.certificazioni}}"></textarea>
					</div>
					<mat-divider></mat-divider>
					<br>
					<div class="submit-button"><button mat-raised-button>Save</button></div>
					<br>
					<mat-divider></mat-divider>
					<img src="https://www.agrelma.com/Img/NoImg.png" width="100">
					<div class="form-group d-form">
						<input type="file" class="col-sm-9"><button class="col-sm-3" mat-stroked-button>Upload</button>
					</div>
				</main>
			</div>
		</section>
		<section class="col-sm-8 m-col">
			<div class="d-box">
				<header>
					<h3>Additional data</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					<div class="form-group d-form">
						<label>Slogan</label>
						<input type="text" placeholder="Slogan" class="col-sm-12" value="{{companyData?.slogan}}">
					</div>
					<div class="form-group d-form">
						<label>Company profile</label>
						<textarea value="{{companyData?.descrizioneaziendale}}"></textarea>
					</div>
					<div class="form-group d-form">
						<label>Number of Employees</label>
						<select class="col-sm-12">
							<option>Less than 5 person</option>
							<option value="2">From 5 to 10 persons</option>
							<option value="3">From 10 to 20 persons</option>
							<option value="4">From 20 to 50 persons</option>
							<option value="5">More than 50 persons</option>
						</select>
					</div>
					<div class="form-group d-form">
						<label>Year Of Established</label>
						<input type="text" placeholder="Year Of Established" class="col-sm-12" value="{{companyData?.annoinizio}}">
					</div>
					<div class="form-group d-form">
						<label>Legal Representative/Business Owner</label>
						<input type="text" placeholder="Legal Representative/Business Owner" class="col-sm-12" value="{{companyData?.legalerappresentante}}">
					</div>
					<div class="form-group d-form">
						<label>Main activity</label>
						<input type="text" placeholder="Main activity" class="col-sm-12" value="{{companyData?.attprinc}}">
					</div>
					<div class="form-group d-form">
						<label>Main Customer</label>
						<input type="text" placeholder="Main Customer" class="col-sm-12" value="{{companyData?.clienteprincipale}}">
					</div>
					<div class="form-group d-form">
						<label>Total Annual Sales Volume</label>
						<input type="text" placeholder="Total Annual Sales Volume" class="col-sm-12" value="{{companyData?.salesquantities}}">
					</div>
					<div class="form-group d-form">
						<label>Export Percentage</label>
						<input type="text" placeholder="Export Percentage" class="col-sm-12" value="{{companyData?.exportpercentage}}">
					</div>
					<div class="form-group d-form">
						<label>Total Annual Purchase Volume</label>
						<input type="text" placeholder="Total Annual Purchase Volume" class="col-sm-12" value="{{companyData?.purchasequantit}}">
					</div>
					<div class="form-group d-form">
						<label>Products/Services: (Sold)</label>
						<textarea placeholder="Enter 20 to 200 characters. Enter text in English."></textarea>
					</div>
					<div class="form-group d-form">
						<label>Products/Services: (Purchased)</label>
						<textarea placeholder="Enter 20 to 200 characters. Enter text in English."></textarea>
					</div>
					<div class="submit-button"><button mat-raised-button>Save</button></div>
				</main>
			</div>
		</section>
	</section>
</section>