<section class="container">
	<section class="row-full page-content">
		<section class="col-sm-8">
			<h3><span>REQUEST - {{request?.nomesettore}}</span> <small>Report incorrect informations</small></h3>
			<section class="content">
				<h4>{{request?.titolo}}</h4>
				<div>
					<p>
						<b>Importer country: </b>  {{request?.paese}}
					</p>
					<p>
						<b>We are interested in receiving offers for...</b>  {{request?.nometipologia}}
					</p>
					<p class="info"><b>Some informations on the request's characteristics:</b><br>
						<span [innerHtml]="description"></span>
						
					</p>
					<p *ngIf="request?.imballo != ' '">
						<b>Preferred Packing: </b> {{request?.imballo}}
					</p>
					<p>
						<b>Destination to {{request?.luogoconsegna}} - </b>  {{request?.nazconsegna}}
					</p>
					<p>
						<b>Proposed way of payment:  </b>  {{request?.modpag}}
					</p>

				</div>
			</section>
		</section>
		<section class="col-sm-4">
			<section class="content">
				<div class="sub-box" *ngIf="this.aS.isProducer()">
					<h5>Buyer details</h5>
					<b>{{company?.azienda}}</b><br>
					<a routerLink="/contact-detail-producer/{{company?.idanagrafica}}">Contact</a>
					<a href="{{company?.indwww}}">View Website</a><br>
					<button routerLink="/send-message/{{company?.iddomoff}}">Send Message</button>
				</div>
				<div class="sub-box" *ngIf="!this.aS.isProducer()">
					<h5>Buyer details</h5>
					<span><br>In order to contact this buyer, simplylog-in or subscribe.<br><br></span>
					<button>Subscribe</button>
				</div>
			</section>
		</section>
	</section>
</section>