<section class="container">
	<section class="row-full page-content">
		<section class="col-sm-8">
			<h3><span>REQUEST - Pasta</span> <small>Report incorrect informations</small></h3>
			<section class="content">
				<h4>Noodles in retail packages.</h4>
				<div>
					<p>
						<b>Importer country: </b>  Poland
					</p>
					<p>
						<b>We are interested in receiving offers for...</b>  Noodles
					</p>
					<p class="info"><b>Some informations on the request's characteristics:</b><br>
						For us, is going to be a pleasure qualify your best proposals of noodles in retail packages. By the moment, this is our preference.
					</p>
					<p>
						<b>Destination to Warszawa - </b>  Poland
					</p>
					<p>
						<b>Proposed way of payment:  </b>  Negotiable
					</p>

				</div>
			</section>
		</section>
		<section class="col-sm-4">
			<section class="content">
				<div class="sub-box">
					<h5>Buyer details</h5>
					<span><br>In order to contact this buyer, simplylog-in or subscribe.<br><br></span>
					<button>Subscribe</button>
				</div>
			</section>
		</section>
	</section>
</section>