<section class="container">
	<section class="col-full">
		<section class="content col-sm-12">
			<h2>Contact details - {{company.azienda}}</h2>
			<section class="tabs-container">
				<div class="col-sm-12">
					<mat-toolbar>Main Data</mat-toolbar>
					<div class="col-sm-12 theBox">
						<div class="col-sm-8">
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Company name:</b></span><span class="col-sm-6">{{company.azienda}}</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Address:</b></span><span class="col-sm-6">{{company.indirizzo}} {{company.citta}} - {{company.cap}} {{company.provincia}} {{company.nazione}}</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>VAT/Cod.Fisc.:</b></span><span class="col-sm-6">{{company.pivacodfisc}}</span>
							</div>
						</div>
						<div class="col-sm-4">
							<img src="https://www.agrelma.com/DomOff/ImgAziende/{{company.idanagrafica}}_AZ.jpg" width="200" *ngIf="company.ha_img_azienda == 1">
						</div>
					</div>
				</div>
				<mat-divider></mat-divider><br>
				<div class="col-sm-12">
					<mat-toolbar>Contacts and addresses</mat-toolbar>
					<div class="col-sm-12 theBox">
						<div class="col-sm-12">
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Contact:</b></span><span class="col-sm-6">{{company.contatto}}</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Phone:</b></span><span class="col-sm-6">{{company.ntelefono}}</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Mobile:</b></span><span class="col-sm-6">{{company.cellulare}}</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Fax:</b></span><span class="col-sm-6">{{company.nfax}}</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>e-Mail address:</b></span><span class="col-sm-6">	{{company.indemail}}</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Website:</b></span><span class="col-sm-6">{{company.indwww}}</span>
							</div>
						</div>
					</div>
				</div>
				<mat-divider></mat-divider><br>
				<div class="col-sm-12">
					<mat-toolbar>Basic Informations</mat-toolbar>
					<div class="col-sm-12 theBox">
						<div class="col-sm-12">
							<div class="col-sm-12" *ngIf="company.attprinc != ' '">
								<span class="col-sm-6"><b>Main activity:</b></span><span class="col-sm-6">{{company.attprinc}}</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Activity sector:</b></span>
								<span class="col-sm-6">
									<ul>
										<li *ngFor="let sector of sectors">{{sector}}</li>
										<!-- <li>Cheese</li>
										<li>Coffee</li>
										<li>Delicatessen</li>
										<li>Drinks</li>
										<li>Oil</li>
										<li>Preserves</li>
										<li>Sweets and dough products</li>
										<li>Table Wine</li> -->
										<!-- <li>Vinegar</li> -->
									</ul>	
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 theBox">
					<button (click)="close()">Close Window</button>
				</div>
			</section>
				
		</section>
	</section>
</section>