<section class="container">
	<section class="col-full">
		<section class="content col-sm-12">
			<h2>Contact details - Anima Italiana srl</h2>
			<section class="tabs-container">
				<div class="col-sm-12">
					<mat-toolbar>Main Data</mat-toolbar>
					<div class="col-sm-12 theBox">
						<div class="col-sm-8">
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Company name:</b></span><span class="col-sm-6">Anima Italiana srl</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Address:</b></span><span class="col-sm-6">Corso Salvatore D’Amato 90 Arzano - 80022 Napoli Italy</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>VAT/Cod.Fisc.:</b></span><span class="col-sm-6">IT06911521216</span>
							</div>
						</div>
						<div class="col-sm-4">
							<img src="https://www.agrelma.com/DomOff/ImgAziende/32719_AZ.jpg" width="200">
						</div>
					</div>
				</div>
				<mat-divider></mat-divider><br>
				<div class="col-sm-12">
					<mat-toolbar>Contacts and addresses</mat-toolbar>
					<div class="col-sm-12 theBox">
						<div class="col-sm-12">
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Contact:</b></span><span class="col-sm-6">Sig. Espedito Isaia</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Phone:</b></span><span class="col-sm-6">00390815730129</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Mobile:</b></span><span class="col-sm-6">n.d.</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Fax:</b></span><span class="col-sm-6">n.d.</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>e-Mail address:</b></span><span class="col-sm-6">	info@animaitalianasrl.it</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Website:</b></span><span class="col-sm-6">http://www.animaitalianasrl.it</span>
							</div>
						</div>
					</div>
				</div>
				<mat-divider></mat-divider><br>
				<div class="col-sm-12">
					<mat-toolbar>Basic Informations</mat-toolbar>
					<div class="col-sm-12 theBox">
						<div class="col-sm-12">
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Main activity:</b></span><span class="col-sm-6">Food Exporter</span>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-6"><b>Activity sector:</b></span>
								<span class="col-sm-6">
									<ul>
										<li>Vinegar</li>
										<li>Cheese</li>
										<li>Coffee</li>
										<li>Delicatessen</li>
										<li>Drinks</li>
										<li>Oil</li>
										<li>Preserves</li>
										<li>Sweets and dough products</li>
										<li>Table Wine</li>
										<li>Vinegar</li>
									</ul>	
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 theBox">
					<button>Close Window</button>
				</div>
			</section>
				
		</section>
	</section>
</section>