<section class="d-container">
	<section class="d-i-container">
		<section class="col-sm-6 l-col">
			<div class="d-box">
				<header>
					<h3>Setting</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
			</div>
			<section class="col-sm-6 l-col">
				<div class="d-box">
					<header>
						<h3>Access Data</h3>
						<span class="action">
							<button mat-icon-button>
							  <mat-icon>more_vert</mat-icon>
							</button>
						</span>
					</header>
					<main>
						
					</main>
				</div>
			</section>
		</section>
		<section class="col-sm-6 r-col">
			<div class="d-box">
				<header>
					<h3>Accounting</h3>
					<span class="action">
						<button mat-icon-button>
						  <mat-icon>more_vert</mat-icon>
						</button>
					</span>
				</header>
				<main>
					<p>To Update and Complete your company data in Agrelma, We advise you to click the Update now.</p>
				</main>
			</div>
		</section>
	</section>
</section>