<section class="container">
	<section class="row-full">
		<section class="content col-sm-9">
			<h1>PAYMENT SYSTEM WITH CREDIT CARD</h1>
			<h2>Use this form to send <b>secure payments</b> to Agrelma.</h2>
			<mat-divider></mat-divider>
			<h2>Credit card holder's specifications:</h2>
			<p class="col-sm-12">
				<input type="text" class="col-sm-12" placeholder="Name and surname:"><br>
				<input type="text"  class="col-sm-12" placeholder="e-Mail:">
			</p>
			<mat-divider></mat-divider>
			<p>
				<br>
				<b>Choose your language:</b> &nbsp;&nbsp;&nbsp;&nbsp;
				<select>
					<option value="1">ITA</option>
					<option value="1">ENG</option>
					<option value="1">FRA</option>
					<option value="1">ESP</option>
					<option value="1">DEU</option>
				</select>
				<br>
				<b>Amount (€):</b> &nbsp;&nbsp;&nbsp;&nbsp; <input type="text">
			</p>
			<mat-divider></mat-divider>
			<h2>Select your preferred method of payment:</h2>
			<div class="payment visa col-sm-12">
				<button>Pay By X-Pay</button>
				<img src="https://www.agrelma.com/Img/xPayLogo2.png">
			</div>
			<div class="payment visa col-sm-12">
				<button>Pay By Paypal</button>
				<img src="https://www.paypal.com/it_IT/IT/Marketing/i/logo/PayPal_logo_150x65.gif">
			</div>
		</section>
	</section>
</section>