.d-container{
	min-height: 100vh;
	background-color: rgb(231, 231, 231);
	padding: 10px;
}
.d-i-container{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 10px!important;
	flex-wrap: wrap;
}
.d-box{
	background-color: white;
	border: 1px solid rgb(220,220,220);
	padding: 7px;
	margin-bottom: 10px;
}
.d-box header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.d-box header h3{
	font-size: 15px;

}
.d-box main{
	font-size: 15px;
	padding: 10px;
}
.d-box header span.action button:hover{
	color: black;
}
.d-box header span.action button{
	transform: rotate(90deg);
}
.l-col, .r-col, .m-col{
	padding: 7px;
}

.d-form label{
	font-size: 13px;
	font-weight: 500;
	line-height: 10px;
}
button:hover{
	color: black;
}
.submit-button{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}
.submit-button button:hover{
	color: black;
}


@media screen and (max-width: 680px) {
	.d-i-container{
		padding: 0px!important;
	}	
	.d-box{
		overflow: scroll;
	}
	
	.form mat-toolbar{
		display: block;
		width: 100%;
		height: auto;
		border-bottom: 1px solid lightgrey;
		padding-bottom: 10px;
	}

	.form mat-toolbar textarea{
		float: left;
	}


	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12{
		width: 100%;
		float: left;
	}  

}