.d-container{
	min-height: 100vh;
	background-color: rgb(231, 231, 231);
	padding: 10px;
}
.d-i-container{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 10px!important;
	flex-wrap: wrap;
}
.d-box{
	background-color: white;
	border: 1px solid rgb(220,220,220);
	padding: 7px;
	margin-bottom: 10px;
}
.d-box header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.d-box header h3{
	font-size: 15px;

}
.d-box main{
	font-size: 15px;
	padding: 10px;
}
.d-box header span.action button:hover{
	color: black;
}
.d-box header span.action button{
	transform: rotate(90deg);
}
.l-col, .r-col, .m-col{
	padding: 7px;
}

.d-form label{
	font-size: 13px;
	font-weight: 500;
	line-height: 10px;
}
button:hover{
	color: black;
}